<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo room</title>
    <style>
        #left{

            width: 20%;
            float: left;
        }
        #right{
            width: 80%;
            float: right;
        }
        #roomCurr{
            background: #cc5555;
            width: 100px;
            float: right;
            color: white;
        }
    </style>
    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000");
        socket.on("server-send-rooms",(data)=>{
            $("#listRomm").html('')
            data.map((r)=>{
                $("#listRomm").append("<h4>"+ r+"</h4>")
            })
        })

        socket.on("server-send-room-socket",(data)=>{
            $("#roomCurr").html(data)
        })
        socket.on("server-chat",(data)=>{
            $("#right").append("<div>"+data+"</div>")
        })
        $(document).ready(()=>{
            $("#btnMakeRoom").click(()=>{
                socket.emit("make-room",$("#txtRoom").val())
            })
            $("#btnChat").click(()=>{
                socket.emit("user-chat",$("#txtMSG").val())
            })
        })
    </script>
</head>
<body>
    <input type="text"  id="txtRoom">
    <input type="button" id="btnMakeRoom" value="Tạo room">

    <div id="left">
        <h3>ROOMS</h3>
        <div id="listRomm"></div>
    </div>
    <h4 id="roomCurr">...</h4>
    <div id="right">

    </div>
    <input type="text" name="" id="txtMSG">
    <input type="button" value="Chat" id="btnChat">
</body>
</html>